<!-- product-detail.component.html -->
@if (product) {
<div class="product-detail">
  <h1>{{ product.name }}</h1>
  <p class="price">{{ product.price}} EUR</p>

  <div class="color-selector">
    <label>Color:</label>
    <select>
      @for (color of product.colors; track color) {
        <option>
          {{ color }}
        </option>
      }
    </select>
  </div>

  <div class="quantity-selector">
    <label>Quantity:</label>
    <input 
    type="number" 
    min="1" 
    max="10"
    [(ngModel)]="selectedQuantity"
    >
  </div>

  <button (click)="addToCart(product)" class="btn-add-to-cart">
    Add to Cart
  </button>
  
</div>
}