<!-- product-detail.component.html -->
@if (product) {
<div class="product-detail">
  <h2>{{ product.name }}</h2>
  <p class="price">{{ product.price}} EUR</p>

  <div class="color-selector">
    <label>Barva:</label>
    <select type="string" [ngModel]="selectedColor">
      @for (color of product.colors; track color) {
        <option>
          {{ color }}
        </option>
      }
    </select>
  </div>

  <div class="quantity-selector">
    <label>Število:</label>
    <input 
    type="number" 
    min="1" 
    [(ngModel)]="selectedQuantity"
    >
  </div>

  <button (click)="addToCart(product)" class="btn-add-to-cart">
    Dodaj v košarico
  </button>

</div>
}