<div class="cart-container">
    <h2>Vaš nakupovalni voziček</h2>
    @if (cartItems.length === 0) {
    <div class="empty-cart">
        Vaš nakupovalni voziček je prazen.
    </div>
    } @else {
    <table class="cart-table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Color</th>
                <th>Quantity</th>
                <th>Price per Item</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            @for (item of cartItems; track item) {
            <tr>
                <td>{{item.product.name}}</td>
                <td>{{item.selectedColor}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.product.price}}€</td>
                <td>{{item.quantity * item.product.price}}€</td>
            </tr>
            }
        </tbody>
    </table>
    <div class="cart-footer">
        <p class="total">Total: {{total}} EUR</p>
        <button (click)="checkout()">Checkout</button>
    </div>
    }
</div>